{% extends 'layout.html' %}
{% block content %}
<script src="https://api-challenge.navitime.biz/v1s/19999993/mapscript?host=localhost" referrerpolicy="no-referrer"></script>

<h1>地図表示 サンプルコード</h1>
<div id="map" style="height:450px; width:800px"></div>
<p>
  ※地図を右クリックして表示されたメニューを選択すると、クリックした場所が地図の中心に移動します。
</p>
<p>
  <a href="/">トップ画面に戻る</a>
</p>

<script>
  window.onload = function() {
    var center = new navitime.geo.LatLng('35.689614', '139.691634')
    map = new navitime.geo.Map('map', center, 15)

    //クリックした場所を地図の中心にするコンテキストメニューの作成
    var menu = new navitime.geo.control.MenuControl();
    menu.addMenuColumn('この位置を中心にする', function() {
      map.panTo(menu.getLatLng());
    });
    menu.setMap(map);
  }
</script>
{% endblock %}
